<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="topdown/aheader.html"></div>
<body>
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h3>User Management</h3>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="search-addon"><i class="fa fa-search"></i></span>
        </div>
        <input type="text" class="form-control" id="searchUser" placeholder="Search users">
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>User Name</th>
          <th>Name</th>
          <th>Last Log In</th>
          <th>Admin</th>
          <th>Enabled</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.getUsername()}"></td>
          <td th:text="${user.getName()}"></td>
          <td th:text="${user.getLastLogIn()}"></td>
          <td th:text="${user.getAdmin()}"></td>
          <td th:text="${user.isEnabled()}"></td>
          <td>
            <button type="button" class="btn btn-danger btn-sm deleteUser" data-id="${user.getUserId()}">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
      <nav>
        <ul class="pagination">
          <!-- <li class="page-item" th:classappend="${userPage.first} ? disabled"><a class="page-link" th:href="@{${#httpServletRequest.requestURI}(page=0)}">First</a></li>
           <li class="page-item" th:classappend="${userPage.previousPageable.empty} ? disabled"><a class="page-link" th:href="@{${#httpServletRequest.requestURI}(page=${userPage.previousPageable.pageNumber}))}">Previous</a></li>
           <li class="page-item" th:classappend="${userPage.nextPageable.empty} ? disabled"><a class="page-link" th:href="@{${#httpServletRequest.requestURI}(page=${userPage.nextPageable.pageNumber}))}">Next</a></li>
           <li class="page-item" th:classappend="${userPage.last} ? disabled"><a class="page-link" th:href="@{${#httpServletRequest.requestURI(page=${userPage.totalPages - 1})}">Last</a></li>-->
          <li th:class="${page == 1} ? 'page-item disabled' : 'page-item'">
            <a class="page-link"th:href="|@{/admin/user} ? page=${page - 1}|">Previous</a>
          </li>
          <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:class="${page == pageNumber} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{|/admin/user?page=${pageNumber}|}" th:text="${pageNumber}"></a>
          </li>
          <li th:class="${page == totalPages} ? 'page-item disabled' : 'page-item'">
            <a class="page-link" th:href="@{|/admin/user?page=${page+1}|}">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div th:include="topdown/footer.html"></div>
</body>
</html>