<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- Footer Section -->
<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2023 Shoe Shop. &middot; <a href="#">Privacy Policy</a> &middot; <a href="#">Terms</a></p>
</footer>

<!-- JavaScript -->
<script th:src="@{../../js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{../../js/popper.min.js}"></script>
<script th:src="@{../../js/bootstrap.min.js}"></script>
<script th:src="@{../../js/myfunctions.js}"></script>
