<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="topdown/header.html"></div>
<body>
<!-- Hero Section -->
<section class="jumbotron text-center">
    <h1 class="display-4">Welcome to Shoe Shop Jenkins</h1>
    <p class="lead">Shop the latest collection of shoes for men and women.</p>
    <a href="#" class="btn btn-primary">Shop Now</a>
</section>

<!-- Products Section -->
<section class="container">
    <div class="row">
        <div class="col-md-4" th:each="product:${productsint}">
            <div class="card mb-4 shadow-sm">
                <img th:src="${product.getFilesRelated().get(0).getFileLocation()}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.getName()}"></h5>
                    <p class="card-text" th:text="${product.getDescription()}"></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" th:onclick="|addtoCart('${product.getId()}')|" class="btn btn-sm btn-outline-secondary">Add to Cart</a>
                            <a href="#" th:onclick="|addtoWlist('${product.getId()}')|" class="btn btn-sm btn-outline-secondary add-to-wlist">Add to Wishlist</a>
                        </div>
                        <small class="text-muted" th:text="${product.getPrice()}">$50</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div th:include="topdown/footer.html"></div>
</body>
</html>