<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="topdown/header.html"></div>
<body>
<h1>Login</h1>
<div class="container">
  <h2>Login Page</h2>
  <form th:action="@{/login}" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div th:include="topdown/footer.html"></div>
</body>
</html>