<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="topdown/header.html"></div>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-header">
                    Search
                </div>
                <div class="card-body">
                    <form  id="searchForm" th:action="@{'#'}" method="post">
                        <div class="form-group">
                            <label for="search">Search</label>
                            <input type="text" class="form-control" id="search" name="search" placeholder="Enter search term" th:onkeyup="|getmyprods();|">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    Categories
                </div>
                <div class="card-body">
                    <ul class="list-group" th:each="prcategory:${prcategories}">
                        <li class="list-group-item"><a href="#" th:text="${prcategory}">Category 1</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h1>Products</h1>
            <div class="row" id="searchResults">
                <div class="col-md-4" th:each="product:${products}">
                    <div class="card mb-4 shadow-sm">
                        <img th:src="${product.getFilesRelated().get(0).getFileLocation()}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.getName()}"></h5>
                            <p class="card-text" th:text="${product.getDescription()}"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#" th:onclick="|addtoCart('${product.getId()}')|" class="btn btn-sm btn-outline-secondary">Add to Cart</a>
                                    <a href="#" th:onclick="|addtoWlist('${product.getId()}')|" class="btn btn-sm btn-outline-secondary add-to-wlist">Add to Wishlist</a>
                                </div>
                                <small class="text-muted" th:text="${product.getPrice()}">$50</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <ul class="pagination">
                    <li th:class="${page == 1} ? 'page-item disabled' : 'page-item'">
                        <a class="page-link"th:href="|@{/page/products} ? page=${page - 1}|">Previous</a>
                    </li>
                    <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:class="${page == pageNumber} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{|/page/products?page=${pageNumber}|}" th:text="${pageNumber}"></a>
                    </li>
                    <li th:class="${page == totalPages} ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" th:href="@{|/page/products?page=${page+1}|}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div th:include="topdown/footer.html"></div>
</body>
</html>